html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='CoreUI - Open Source Bootstrap Admin Template')
    meta(name='author', content='Łukasz Holeczek')
    meta(name='keyword', content='Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js')
    link(rel='shortcut icon', href='img/favicon.png')
    title CoreUI - Open Source Bootstrap Admin Template
    link(type='text/css', href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet')
    link(type='text/css', href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet')
    link(href='css/simple-line-icons.css', rel='stylesheet')
    link(href='css/core-ui-material.min.css', rel='stylesheet')
    block head
  body
    block content
    footer.app-footer
      a(href='http://coreui.io') CoreUI
      |  © 2017 creativeLabs.
      span.float-right
        | Powered by 
        a(href='http://coreui.io') CoreUI
    script(src='js/vendor.js')
    script(src='js/app.js')
