html
  head
    include include/head
    block head
  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.aside-menu-hidden
    include component/header
    .app-body
      include component/slidebar
      main.main
        include component/breadcrumb
        block content
      include component/aside-menu
    include component/footer
    script(src='js/vendor.js')
    script(src='js/app.js')
    block script
    
