extends _master.pug
block content
  .container-fluid
    .animated.fadeIn
      .row
        .col-md-12
          .card
            .card-header
              | 3d Switch
            .card-body
              label.switch.switch-3d.switch-primary
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-3d.switch-secondary
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-3d.switch-success
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-3d.switch-warning
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-3d.switch-info
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-3d.switch-danger
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch default
            .card-body
              label.switch.switch-default.switch-primary
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-secondary
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-success
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-warning
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-info
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-danger
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch default - pills
            .card-body
              label.switch.switch-default.switch-pill.switch-primary
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-secondary
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-success
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-warning
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-info
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-danger
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch outline
            .card-body
              label.switch.switch-default.switch-primary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-secondary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-success-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-warning-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-info-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-danger-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch outline - pills
            .card-body
              label.switch.switch-default.switch-pill.switch-primary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-secondary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-success-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-warning-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-info-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-danger-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch outline alternative
            .card-body
              label.switch.switch-default.switch-primary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-secondary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-success-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-warning-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-info-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-danger-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch outline alternative - pills
            .card-body
              label.switch.switch-default.switch-pill.switch-primary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-secondary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-success-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-warning-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-info-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
              label.switch.switch-default.switch-pill.switch-danger-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with text
            .card-body
              label.switch.switch-text.switch-primary
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-secondary
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-success
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-warning
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-info
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-danger
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with text - pills
            .card-body
              label.switch.switch-text.switch-pill.switch-primary
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-secondary
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-success
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-warning
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-info
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-danger
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with text outline
            .card-body
              label.switch.switch-text.switch-primary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-secondary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-success-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-warning-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-info-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-danger-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with text outline - pills
            .card-body
              label.switch.switch-text.switch-pill.switch-primary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-secondary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-success-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-warning-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-info-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-danger-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with text outline alternative
            .card-body
              label.switch.switch-text.switch-primary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-secondary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-success-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-warning-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-info-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-danger-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with text outline alternative - pills
            .card-body
              label.switch.switch-text.switch-pill.switch-primary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-secondary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-success-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-warning-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-info-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
              label.switch.switch-text.switch-pill.switch-danger-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='On', data-off='Off')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with icon
            .card-body
              label.switch.switch-icon.switch-primary
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-secondary
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-success
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-warning
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-info
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-danger
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with icon - pills
            .card-body
              label.switch.switch-icon.switch-pill.switch-primary
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-secondary
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-success
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-warning
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-info
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-danger
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with icon outline
            .card-body
              label.switch.switch-icon.switch-primary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-secondary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-success-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-warning-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-info-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-danger-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with icon outline - pills
            .card-body
              label.switch.switch-icon.switch-pill.switch-primary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-secondary-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-success-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-warning-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-info-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-danger-outline
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with icon outline alternative
            .card-body
              label.switch.switch-icon.switch-primary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-secondary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-success-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-warning-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-info-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-danger-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
        // /.col
        .col-md-6
          .card
            .card-header
              | Switch with icon outline alternative - pills
            .card-body
              label.switch.switch-icon.switch-pill.switch-primary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-secondary-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-success-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-warning-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-info-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
              label.switch.switch-icon.switch-pill.switch-danger-outline-alt
                input.switch-input(type='checkbox', checked='')
                span.switch-label(data-on='', data-off='')
                span.switch-handle
        // /.col
        .col-md-12
          .card
            .card-header
              | Sizes
            .card-body.p-0
              table.table.table-hover.table-striped.table-align-middle.mb-0
                thead
                  tr
                    th Size
                    th Example
                    th CSS Class
                tbody
                  tr
                    td
                      | Large
                    td
                      label.switch.switch-lg.switch-3d.switch-primary
                        input.switch-input(type='checkbox', checked='')
                        span.switch-label
                        span.switch-handle
                    td
                      | Add following class
                      code .switch-lg
                  tr
                    td
                      | Normal
                    td
                      label.switch.switch-3d.switch-primary
                        input.switch-input(type='checkbox', checked='')
                        span.switch-label
                        span.switch-handle
                    td
                      | -
                  tr
                    td
                      | Small
                    td
                      label.switch.switch-sm.switch-3d.switch-primary
                        input.switch-input(type='checkbox', checked='')
                        span.switch-label
                        span.switch-handle
                    td
                      | Add following class
                      code .switch-sm
                  tr
                    td
                      | Extra small
                    td
                      label.switch.switch-xs.switch-3d.switch-primary
                        input.switch-input(type='checkbox', checked='')
                        span.switch-label
                        span.switch-handle
                    td
                      | Add following class
                      code .switch-sm
        // /.col
      // /.row
