extends _master.pug
block content
  .container-fluid
    .animated.fadeIn
      .row
        .col-12
          .card
            .card-header
              strong Social Media Button
              small Usage ex.
              code(style='text-transform:lowercase') <button class="btn btn-facebook"><span>Facebook</span></button>
              .card-actions
                a.btn-setting(href='#')
                  i.icon-settings
                button.btn-minimize(type='button', data-toggle='collapse', data-target='', aria-expanded='false', aria-controls='collapseExample')
                  i.icon-arrow-up
                a.btn-close(href='#')
                  i.icon-close
            .card-body
              h6
                | Size Small
                small
                  | Add this class
                  code .btn-sm
              p
                button.btn.btn-sm.btn-facebook(type='button', style='margin-bottom: 4px')
                  span Facebook
                button.btn.btn-sm.btn-twitter(type='button', style='margin-bottom: 4px')
                  span Twitter
                button.btn.btn-sm.btn-linkedin(type='button', style='margin-bottom: 4px')
                  span LinkedIn
                button.btn.btn-sm.btn-flickr(type='button', style='margin-bottom: 4px')
                  span Flickr
                button.btn.btn-sm.btn-tumblr(type='button', style='margin-bottom: 4px')
                  span Tumblr
                button.btn.btn-sm.btn-xing(type='button', style='margin-bottom: 4px')
                  span Xing
                button.btn.btn-sm.btn-github(type='button', style='margin-bottom: 4px')
                  span Github
                button.btn.btn-sm.btn-html5(type='button', style='margin-bottom: 4px')
                  span HTML5
                button.btn.btn-sm.btn-openid(type='button', style='margin-bottom: 4px')
                  span OpenID
                button.btn.btn-sm.btn-stack-overflow(type='button', style='margin-bottom: 4px')
                  span StackOverflow
                button.btn.btn-sm.btn-css3(type='button', style='margin-bottom: 4px')
                  span CSS3
                button.btn.btn-sm.btn-youtube(type='button', style='margin-bottom: 4px')
                  span YouTube
                button.btn.btn-sm.btn-dribbble(type='button', style='margin-bottom: 4px')
                  span Dribbble
                button.btn.btn-sm.btn-google-plus(type='button', style='margin-bottom: 4px')
                  span Google+
                button.btn.btn-sm.btn-instagram(type='button', style='margin-bottom: 4px')
                  span Instagram
                button.btn.btn-sm.btn-pinterest(type='button', style='margin-bottom: 4px')
                  span Pinterest
                button.btn.btn-sm.btn-vk(type='button', style='margin-bottom: 4px')
                  span VK
                button.btn.btn-sm.btn-yahoo(type='button', style='margin-bottom: 4px')
                  span Yahoo
                button.btn.btn-sm.btn-behance(type='button', style='margin-bottom: 4px')
                  span Behance
                button.btn.btn-sm.btn-dropbox(type='button', style='margin-bottom: 4px')
                  span Dropbox
                button.btn.btn-sm.btn-reddit(type='button', style='margin-bottom: 4px')
                  span Reddit
                button.btn.btn-sm.btn-spotify(type='button', style='margin-bottom: 4px')
                  span Spotify
                button.btn.btn-sm.btn-vine(type='button', style='margin-bottom: 4px')
                  span Vine
                button.btn.btn-sm.btn-foursquare(type='button', style='margin-bottom: 4px')
                  span Forsquare
                button.btn.btn-sm.btn-vimeo(type='button', style='margin-bottom: 4px')
                  span Vimeo
              h6 Size Normal
              p
                button.btn.btn-facebook(type='button', style='margin-bottom: 4px')
                  span Facebook
                button.btn.btn-twitter(type='button', style='margin-bottom: 4px')
                  span Twitter
                button.btn.btn-linkedin(type='button', style='margin-bottom: 4px')
                  span LinkedIn
                button.btn.btn-flickr(type='button', style='margin-bottom: 4px')
                  span Flickr
                button.btn.btn-tumblr(type='button', style='margin-bottom: 4px')
                  span Tumblr
                button.btn.btn-xing(type='button', style='margin-bottom: 4px')
                  span Xing
                button.btn.btn-github(type='button', style='margin-bottom: 4px')
                  span Github
                button.btn.btn-html5(type='button', style='margin-bottom: 4px')
                  span HTML5
                button.btn.btn-openid(type='button', style='margin-bottom: 4px')
                  span OpenID
                button.btn.btn-stack-overflow(type='button', style='margin-bottom: 4px')
                  span StackOverflow
                button.btn.btn-css3(type='button', style='margin-bottom: 4px')
                  span CSS3
                button.btn.btn-youtube(type='button', style='margin-bottom: 4px')
                  span YouTube
                button.btn.btn-dribbble(type='button', style='margin-bottom: 4px')
                  span Dribbble
                button.btn.btn-google-plus(type='button', style='margin-bottom: 4px')
                  span Google+
                button.btn.btn-instagram(type='button', style='margin-bottom: 4px')
                  span Instagram
                button.btn.btn-pinterest(type='button', style='margin-bottom: 4px')
                  span Pinterest
                button.btn.btn-vk(type='button', style='margin-bottom: 4px')
                  span VK
                button.btn.btn-yahoo(type='button', style='margin-bottom: 4px')
                  span Yahoo
                button.btn.btn-behance(type='button', style='margin-bottom: 4px')
                  span Behance
                button.btn.btn-dropbox(type='button', style='margin-bottom: 4px')
                  span Dropbox
                button.btn.btn-reddit(type='button', style='margin-bottom: 4px')
                  span Reddit
                button.btn.btn-spotify(type='button', style='margin-bottom: 4px')
                  span Spotify
                button.btn.btn-vine(type='button', style='margin-bottom: 4px')
                  span Vine
                button.btn.btn-foursquare(type='button', style='margin-bottom: 4px')
                  span Forsquare
                button.btn.btn-vimeo(type='button', style='margin-bottom: 4px')
                  span Vimeo
              h6
                | Size Large
                small
                  | Add this class
                  code .btn-lg
              p
                button.btn.btn-lg.btn-facebook(type='button', style='margin-bottom: 4px')
                  span Facebook
                button.btn.btn-lg.btn-twitter(type='button', style='margin-bottom: 4px')
                  span Twitter
                button.btn.btn-lg.btn-linkedin(type='button', style='margin-bottom: 4px')
                  span LinkedIn
                button.btn.btn-lg.btn-flickr(type='button', style='margin-bottom: 4px')
                  span Flickr
                button.btn.btn-lg.btn-tumblr(type='button', style='margin-bottom: 4px')
                  span Tumblr
                button.btn.btn-lg.btn-xing(type='button', style='margin-bottom: 4px')
                  span Xing
                button.btn.btn-lg.btn-github(type='button', style='margin-bottom: 4px')
                  span Github
                button.btn.btn-lg.btn-html5(type='button', style='margin-bottom: 4px')
                  span HTML5
                button.btn.btn-lg.btn-openid(type='button', style='margin-bottom: 4px')
                  span OpenID
                button.btn.btn-lg.btn-stack-overflow(type='button', style='margin-bottom: 4px')
                  span StackOverflow
                button.btn.btn-lg.btn-css3(type='button', style='margin-bottom: 4px')
                  span CSS3
                button.btn.btn-lg.btn-youtube(type='button', style='margin-bottom: 4px')
                  span YouTube
                button.btn.btn-lg.btn-dribbble(type='button', style='margin-bottom: 4px')
                  span Dribbble
                button.btn.btn-lg.btn-google-plus(type='button', style='margin-bottom: 4px')
                  span Google+
                button.btn.btn-lg.btn-instagram(type='button', style='margin-bottom: 4px')
                  span Instagram
                button.btn.btn-lg.btn-pinterest(type='button', style='margin-bottom: 4px')
                  span Pinterest
                button.btn.btn-lg.btn-vk(type='button', style='margin-bottom: 4px')
                  span VK
                button.btn.btn-lg.btn-yahoo(type='button', style='margin-bottom: 4px')
                  span Yahoo
                button.btn.btn-lg.btn-behance(type='button', style='margin-bottom: 4px')
                  span Behance
                button.btn.btn-lg.btn-dropbox(type='button', style='margin-bottom: 4px')
                  span Dropbox
                button.btn.btn-lg.btn-reddit(type='button', style='margin-bottom: 4px')
                  span Reddit
                button.btn.btn-lg.btn-spotify(type='button', style='margin-bottom: 4px')
                  span Spotify
                button.btn.btn-lg.btn-vine(type='button', style='margin-bottom: 4px')
                  span Vine
                button.btn.btn-lg.btn-foursquare(type='button', style='margin-bottom: 4px')
                  span Forsquare
                button.btn.btn-lg.btn-vimeo(type='button', style='margin-bottom: 4px')
                  span Vimeo
        // /.col
        .col-12
          .card
            .card-header
              strong Social Media Button
              small Only icons. Usage ex.
              code(style='text-transform:lowercase') <button class="btn btn-facebook icon"><span>Facebook</span></button>
              .card-actions
                a.btn-setting(href='#')
                  i.icon-settings
                button.btn-minimize(type='button', data-toggle='collapse', data-target='', aria-expanded='false', aria-controls='collapseExample')
                  i.icon-arrow-up
                a.btn-close(href='#')
                  i.icon-close
            .card-body
              h6
                | Size Small
                small
                  | Add this class
                  code .btn-sm
              p
                button.btn.btn-sm.btn-facebook.icon(type='button', style='margin-bottom: 4px')
                  span Facebook
                button.btn.btn-sm.btn-twitter.icon(type='button', style='margin-bottom: 4px')
                  span Twitter
                button.btn.btn-sm.btn-linkedin.icon(type='button', style='margin-bottom: 4px')
                  span LinkedIn
                button.btn.btn-sm.btn-flickr.icon(type='button', style='margin-bottom: 4px')
                  span Flickr
                button.btn.btn-sm.btn-tumblr.icon(type='button', style='margin-bottom: 4px')
                  span Tumblr
                button.btn.btn-sm.btn-xing.icon(type='button', style='margin-bottom: 4px')
                  span Xing
                button.btn.btn-sm.btn-github.icon(type='button', style='margin-bottom: 4px')
                  span Github
                button.btn.btn-sm.btn-html5.icon(type='button', style='margin-bottom: 4px')
                  span HTML5
                button.btn.btn-sm.btn-openid.icon(type='button', style='margin-bottom: 4px')
                  span OpenID
                button.btn.btn-sm.btn-stack-overflow.icon(type='button', style='margin-bottom: 4px')
                  span StackOverflow
                button.btn.btn-sm.btn-css3.icon(type='button', style='margin-bottom: 4px')
                  span CSS3
                button.btn.btn-sm.btn-youtube.icon(type='button', style='margin-bottom: 4px')
                  span YouTube
                button.btn.btn-sm.btn-dribbble.icon(type='button', style='margin-bottom: 4px')
                  span Dribbble
                button.btn.btn-sm.btn-google-plus.icon(type='button', style='margin-bottom: 4px')
                  span Google+
                button.btn.btn-sm.btn-instagram.icon(type='button', style='margin-bottom: 4px')
                  span Instagram
                button.btn.btn-sm.btn-pinterest.icon(type='button', style='margin-bottom: 4px')
                  span Pinterest
                button.btn.btn-sm.btn-vk.icon(type='button', style='margin-bottom: 4px')
                  span VK
                button.btn.btn-sm.btn-yahoo.icon(type='button', style='margin-bottom: 4px')
                  span Yahoo
                button.btn.btn-sm.btn-behance.icon(type='button', style='margin-bottom: 4px')
                  span Behance
                button.btn.btn-sm.btn-dropbox.icon(type='button', style='margin-bottom: 4px')
                  span Dropbox
                button.btn.btn-sm.btn-reddit.icon(type='button', style='margin-bottom: 4px')
                  span Reddit
                button.btn.btn-sm.btn-spotify.icon(type='button', style='margin-bottom: 4px')
                  span Spotify
                button.btn.btn-sm.btn-vine.icon(type='button', style='margin-bottom: 4px')
                  span Vine
                button.btn.btn-sm.btn-foursquare.icon(type='button', style='margin-bottom: 4px')
                  span Forsquare
                button.btn.btn-sm.btn-vimeo.icon(type='button', style='margin-bottom: 4px')
                  span Vimeo
              h6 Size Normal
              p
                button.btn.btn-facebook.icon(type='button', style='margin-bottom: 4px')
                  span Facebook
                button.btn.btn-twitter.icon(type='button', style='margin-bottom: 4px')
                  span Twitter
                button.btn.btn-linkedin.icon(type='button', style='margin-bottom: 4px')
                  span LinkedIn
                button.btn.btn-flickr.icon(type='button', style='margin-bottom: 4px')
                  span Flickr
                button.btn.btn-tumblr.icon(type='button', style='margin-bottom: 4px')
                  span Tumblr
                button.btn.btn-xing.icon(type='button', style='margin-bottom: 4px')
                  span Xing
                button.btn.btn-github.icon(type='button', style='margin-bottom: 4px')
                  span Github
                button.btn.btn-html5.icon(type='button', style='margin-bottom: 4px')
                  span HTML5
                button.btn.btn-openid.icon(type='button', style='margin-bottom: 4px')
                  span OpenID
                button.btn.btn-stack-overflow.icon(type='button', style='margin-bottom: 4px')
                  span StackOverflow
                button.btn.btn-css3.icon(type='button', style='margin-bottom: 4px')
                  span CSS3
                button.btn.btn-youtube.icon(type='button', style='margin-bottom: 4px')
                  span YouTube
                button.btn.btn-dribbble.icon(type='button', style='margin-bottom: 4px')
                  span Dribbble
                button.btn.btn-google-plus.icon(type='button', style='margin-bottom: 4px')
                  span Google+
                button.btn.btn-instagram.icon(type='button', style='margin-bottom: 4px')
                  span Instagram
                button.btn.btn-pinterest.icon(type='button', style='margin-bottom: 4px')
                  span Pinterest
                button.btn.btn-vk.icon(type='button', style='margin-bottom: 4px')
                  span VK
                button.btn.btn-yahoo.icon(type='button', style='margin-bottom: 4px')
                  span Yahoo
                button.btn.btn-behance.icon(type='button', style='margin-bottom: 4px')
                  span Behance
                button.btn.btn-dropbox.icon(type='button', style='margin-bottom: 4px')
                  span Dropbox
                button.btn.btn-reddit.icon(type='button', style='margin-bottom: 4px')
                  span Reddit
                button.btn.btn-spotify.icon(type='button', style='margin-bottom: 4px')
                  span Spotify
                button.btn.btn-vine.icon(type='button', style='margin-bottom: 4px')
                  span Vine
                button.btn.btn-foursquare.icon(type='button', style='margin-bottom: 4px')
                  span Forsquare
                button.btn.btn-vimeo.icon(type='button', style='margin-bottom: 4px')
                  span Vimeo
              h6
                | Size Large
                small
                  | Add this class
                  code .btn-lg
              p
                button.btn.btn-lg.btn-facebook.icon(type='button', style='margin-bottom: 4px')
                  span Facebook
                button.btn.btn-lg.btn-twitter.icon(type='button', style='margin-bottom: 4px')
                  span Twitter
                button.btn.btn-lg.btn-linkedin.icon(type='button', style='margin-bottom: 4px')
                  span LinkedIn
                button.btn.btn-lg.btn-flickr.icon(type='button', style='margin-bottom: 4px')
                  span Flickr
                button.btn.btn-lg.btn-tumblr.icon(type='button', style='margin-bottom: 4px')
                  span Tumblr
                button.btn.btn-lg.btn-xing.icon(type='button', style='margin-bottom: 4px')
                  span Xing
                button.btn.btn-lg.btn-github.icon(type='button', style='margin-bottom: 4px')
                  span Github
                button.btn.btn-lg.btn-html5.icon(type='button', style='margin-bottom: 4px')
                  span HTML5
                button.btn.btn-lg.btn-openid.icon(type='button', style='margin-bottom: 4px')
                  span OpenID
                button.btn.btn-lg.btn-stack-overflow.icon(type='button', style='margin-bottom: 4px')
                  span StackOverflow
                button.btn.btn-lg.btn-css3.icon(type='button', style='margin-bottom: 4px')
                  span CSS3
                button.btn.btn-lg.btn-youtube.icon(type='button', style='margin-bottom: 4px')
                  span YouTube
                button.btn.btn-lg.btn-dribbble.icon(type='button', style='margin-bottom: 4px')
                  span Dribbble
                button.btn.btn-lg.btn-google-plus.icon(type='button', style='margin-bottom: 4px')
                  span Google+
                button.btn.btn-lg.btn-instagram.icon(type='button', style='margin-bottom: 4px')
                  span Instagram
                button.btn.btn-lg.btn-pinterest.icon(type='button', style='margin-bottom: 4px')
                  span Pinterest
                button.btn.btn-lg.btn-vk.icon(type='button', style='margin-bottom: 4px')
                  span VK
                button.btn.btn-lg.btn-yahoo.icon(type='button', style='margin-bottom: 4px')
                  span Yahoo
                button.btn.btn-lg.btn-behance.icon(type='button', style='margin-bottom: 4px')
                  span Behance
                button.btn.btn-lg.btn-dropbox.icon(type='button', style='margin-bottom: 4px')
                  span Dropbox
                button.btn.btn-lg.btn-reddit.icon(type='button', style='margin-bottom: 4px')
                  span Reddit
                button.btn.btn-lg.btn-spotify.icon(type='button', style='margin-bottom: 4px')
                  span Spotify
                button.btn.btn-lg.btn-vine.icon(type='button', style='margin-bottom: 4px')
                  span Vine
                button.btn.btn-lg.btn-foursquare.icon(type='button', style='margin-bottom: 4px')
                  span Forsquare
                button.btn.btn-lg.btn-vimeo.icon(type='button', style='margin-bottom: 4px')
                  span Vimeo
        // /.col
        .col-12
          .card
            .card-header
              strong Social Media Button
              small Only text. Usage ex.
              code(style='text-transform:lowercase') <button class="btn btn-facebook text"><span>Facebook</span></button>
              .card-actions
                a.btn-setting(href='#')
                  i.icon-settings
                button.btn-minimize(type='button', data-toggle='collapse', data-target='', aria-expanded='false', aria-controls='collapseExample')
                  i.icon-arrow-up
                a.btn-close(href='#')
                  i.icon-close
            .card-body
              h6
                | Size Small
                small
                  | Add this class
                  code .btn-sm
              p
                button.btn.btn-sm.btn-facebook.text(type='button', style='margin-bottom: 4px')
                  span Facebook
                button.btn.btn-sm.btn-twitter.text(type='button', style='margin-bottom: 4px')
                  span Twitter
                button.btn.btn-sm.btn-linkedin.text(type='button', style='margin-bottom: 4px')
                  span LinkedIn
                button.btn.btn-sm.btn-flickr.text(type='button', style='margin-bottom: 4px')
                  span Flickr
                button.btn.btn-sm.btn-tumblr.text(type='button', style='margin-bottom: 4px')
                  span Tumblr
                button.btn.btn-sm.btn-xing.text(type='button', style='margin-bottom: 4px')
                  span Xing
                button.btn.btn-sm.btn-github.text(type='button', style='margin-bottom: 4px')
                  span Github
                button.btn.btn-sm.btn-html5.text(type='button', style='margin-bottom: 4px')
                  span HTML5
                button.btn.btn-sm.btn-openid.text(type='button', style='margin-bottom: 4px')
                  span OpenID
                button.btn.btn-sm.btn-stack-overflow.text(type='button', style='margin-bottom: 4px')
                  span StackOverflow
                button.btn.btn-sm.btn-css3.text(type='button', style='margin-bottom: 4px')
                  span CSS3
                button.btn.btn-sm.btn-youtube.text(type='button', style='margin-bottom: 4px')
                  span YouTube
                button.btn.btn-sm.btn-dribbble.text(type='button', style='margin-bottom: 4px')
                  span Dribbble
                button.btn.btn-sm.btn-google-plus.text(type='button', style='margin-bottom: 4px')
                  span Google+
                button.btn.btn-sm.btn-instagram.text(type='button', style='margin-bottom: 4px')
                  span Instagram
                button.btn.btn-sm.btn-pinterest.text(type='button', style='margin-bottom: 4px')
                  span Pinterest
                button.btn.btn-sm.btn-vk.text(type='button', style='margin-bottom: 4px')
                  span VK
                button.btn.btn-sm.btn-yahoo.text(type='button', style='margin-bottom: 4px')
                  span Yahoo
                button.btn.btn-sm.btn-behance.text(type='button', style='margin-bottom: 4px')
                  span Behance
                button.btn.btn-sm.btn-dropbox.text(type='button', style='margin-bottom: 4px')
                  span Dropbox
                button.btn.btn-sm.btn-reddit.text(type='button', style='margin-bottom: 4px')
                  span Reddit
                button.btn.btn-sm.btn-spotify.text(type='button', style='margin-bottom: 4px')
                  span Spotify
                button.btn.btn-sm.btn-vine.text(type='button', style='margin-bottom: 4px')
                  span Vine
                button.btn.btn-sm.btn-foursquare.text(type='button', style='margin-bottom: 4px')
                  span Forsquare
                button.btn.btn-sm.btn-vimeo.text(type='button', style='margin-bottom: 4px')
                  span Vimeo
              h6 Size Normal
              p
                button.btn.btn-facebook.text(type='button', style='margin-bottom: 4px')
                  span Facebook
                button.btn.btn-twitter.text(type='button', style='margin-bottom: 4px')
                  span Twitter
                button.btn.btn-linkedin.text(type='button', style='margin-bottom: 4px')
                  span LinkedIn
                button.btn.btn-flickr.text(type='button', style='margin-bottom: 4px')
                  span Flickr
                button.btn.btn-tumblr.text(type='button', style='margin-bottom: 4px')
                  span Tumblr
                button.btn.btn-xing.text(type='button', style='margin-bottom: 4px')
                  span Xing
                button.btn.btn-github.text(type='button', style='margin-bottom: 4px')
                  span Github
                button.btn.btn-html5.text(type='button', style='margin-bottom: 4px')
                  span HTML5
                button.btn.btn-openid.text(type='button', style='margin-bottom: 4px')
                  span OpenID
                button.btn.btn-stack-overflow.text(type='button', style='margin-bottom: 4px')
                  span StackOverflow
                button.btn.btn-css3.text(type='button', style='margin-bottom: 4px')
                  span CSS3
                button.btn.btn-youtube.text(type='button', style='margin-bottom: 4px')
                  span YouTube
                button.btn.btn-dribbble.text(type='button', style='margin-bottom: 4px')
                  span Dribbble
                button.btn.btn-google-plus.text(type='button', style='margin-bottom: 4px')
                  span Google+
                button.btn.btn-instagram.text(type='button', style='margin-bottom: 4px')
                  span Instagram
                button.btn.btn-pinterest.text(type='button', style='margin-bottom: 4px')
                  span Pinterest
                button.btn.btn-vk.text(type='button', style='margin-bottom: 4px')
                  span VK
                button.btn.btn-yahoo.text(type='button', style='margin-bottom: 4px')
                  span Yahoo
                button.btn.btn-behance.text(type='button', style='margin-bottom: 4px')
                  span Behance
                button.btn.btn-dropbox.text(type='button', style='margin-bottom: 4px')
                  span Dropbox
                button.btn.btn-reddit.text(type='button', style='margin-bottom: 4px')
                  span Reddit
                button.btn.btn-spotify.text(type='button', style='margin-bottom: 4px')
                  span Spotify
                button.btn.btn-vine.text(type='button', style='margin-bottom: 4px')
                  span Vine
                button.btn.btn-foursquare.text(type='button', style='margin-bottom: 4px')
                  span Forsquare
                button.btn.btn-vimeo.text(type='button', style='margin-bottom: 4px')
                  span Vimeo
              h6
                | Size Large
                small
                  | Add this class
                  code .btn-lg
              p
                button.btn.btn-lg.btn-facebook.text(type='button', style='margin-bottom: 4px')
                  span Facebook
                button.btn.btn-lg.btn-twitter.text(type='button', style='margin-bottom: 4px')
                  span Twitter
                button.btn.btn-lg.btn-linkedin.text(type='button', style='margin-bottom: 4px')
                  span LinkedIn
                button.btn.btn-lg.btn-flickr.text(type='button', style='margin-bottom: 4px')
                  span Flickr
                button.btn.btn-lg.btn-tumblr.text(type='button', style='margin-bottom: 4px')
                  span Tumblr
                button.btn.btn-lg.btn-xing.text(type='button', style='margin-bottom: 4px')
                  span Xing
                button.btn.btn-lg.btn-github.text(type='button', style='margin-bottom: 4px')
                  span Github
                button.btn.btn-lg.btn-html5.text(type='button', style='margin-bottom: 4px')
                  span HTML5
                button.btn.btn-lg.btn-openid.text(type='button', style='margin-bottom: 4px')
                  span OpenID
                button.btn.btn-lg.btn-stack-overflow.text(type='button', style='margin-bottom: 4px')
                  span StackOverflow
                button.btn.btn-lg.btn-css3.text(type='button', style='margin-bottom: 4px')
                  span CSS3
                button.btn.btn-lg.btn-youtube.text(type='button', style='margin-bottom: 4px')
                  span YouTube
                button.btn.btn-lg.btn-dribbble.text(type='button', style='margin-bottom: 4px')
                  span Dribbble
                button.btn.btn-lg.btn-google-plus.text(type='button', style='margin-bottom: 4px')
                  span Google+
                button.btn.btn-lg.btn-instagram.text(type='button', style='margin-bottom: 4px')
                  span Instagram
                button.btn.btn-lg.btn-pinterest.text(type='button', style='margin-bottom: 4px')
                  span Pinterest
                button.btn.btn-lg.btn-vk.text(type='button', style='margin-bottom: 4px')
                  span VK
                button.btn.btn-lg.btn-yahoo.text(type='button', style='margin-bottom: 4px')
                  span Yahoo
                button.btn.btn-lg.btn-behance.text(type='button', style='margin-bottom: 4px')
                  span Behance
                button.btn.btn-lg.btn-dropbox.text(type='button', style='margin-bottom: 4px')
                  span Dropbox
                button.btn.btn-lg.btn-reddit.text(type='button', style='margin-bottom: 4px')
                  span Reddit
                button.btn.btn-lg.btn-spotify.text(type='button', style='margin-bottom: 4px')
                  span Spotify
                button.btn.btn-lg.btn-vine.text(type='button', style='margin-bottom: 4px')
                  span Vine
                button.btn.btn-lg.btn-foursquare.text(type='button', style='margin-bottom: 4px')
                  span Forsquare
                button.btn.btn-lg.btn-vimeo.text(type='button', style='margin-bottom: 4px')
                  span Vimeo
        // /.col
      // /.row
