.breadcrumb {
  position: relative;
  margin-bottom: 1.5 * $spacer;
  align-items: center;
  background-color: $bg-color;
  display: flex;
  flex-wrap: wrap;
  min-height: 3.5rem;
  list-style: none;

  @include borders($breadcrumb-borders);
}
