footer.app-footer
  a(href='http://coreui.io') CoreUI
  |  © 2017 creativeLabs.
  span.float-right
    | Powered by 
    a(href='http://coreui.io') CoreUI
// Bootstrap and necessary plugins
//
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/popper.js/index.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/pace/pace.min.js"></script>
  <script src="bower_components/chart.js/dist/Chart.min.js"></script>
// GenesisUI main scripts
script(src='js/vendor.js')
script(src='js/app.js')
